/*
Codecademy : Learn Links and Buttons
*/

/*
The proper order of these rules is:

:link
:visited
:hover
:active
*/

a {
  color: #466995;
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
    color: #466995;
}

a:hover {
  text-decoration: none;
}