/*
Codecademy : Learn Links and Buttons
*/

/*
The proper order of these rules is:

:link
:visited
:hover
:active
*/

.question-link:visited {
  color: #ffffff;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

a:link {
  color: #61bff9;
}

a:visited, .answer {
  color: #466995;
}

a:hover { 
  text-decoration: none;
}

a:active, .answer:active {
  color: #DBE9EE;
}

.answer {
    border: 1px solid #466995;
}

.answer:hover {
    background-color: #C0D6DF;
}

.answer:active {
    color: #ffffff;
}